<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>柚子科技</title>
		<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
		<link rel="stylesheet" type="text/css" href="../static/css/index.css"/>
	</head>	
	<body>
		
		<!-- 搜索栏 -->
		<div class="searchItem">
			<div class="logUser">
				<span class="logText"></span>&emsp;
				<button type="button" class="logBtn" onclick="logEvent()"></button>
				<button type="button" onclick="location.href='/more'">更多</button>
			</div>
			<div>
				<img src="../static/img/title.png" class="title">
				<img src="../static/img/head-xs.ico" class="ico">
			</div>
			<input type="text" id="searchText" class="search"/>
			<div class="btn">搜索</div>
		</div>
		
		<!-- 展示栏 -->
		<div class="display">
			<ul id="render"></ul>
		</div>
		
		<script type="text/javascript">
			
			$(async function(){
				const datas = await getData(100)
				await setLogin()
				render(datas)
				$('.btn')[0].onclick = function(){search(datas)}
				$('#searchText')[0].onkeydown = function(){if(event.keyCode==13) search(datas)}
			})
			
			
			
			
			//定义简介最长显示字符
			const nums = 14
			
			// 获取cookie
			async function setLogin(){
				let cookie = await $.get('/user/getCookie')
				let logtext = cookie ? cookie + '  已登录' : '未登录'
				let logBtn = cookie ? '退出登录' : '进入登录'
				
				$('.logText').text(logtext)
				$('.logBtn').text(logBtn)
			}
			
			// 列表渲染函数
			function render(datas){
				let html = ''
				datas.map((data)=>{
					html += `<li>
					<a href="${data.href}"  target="_blank">
						<img src="${data.img}">
						<div class="content">
							名称：<span>${data.name}</span><br>
							类型：<span>${data.type}</span><br>
							简介：<span title="${data.doc}">${data.doc.length>nums ? data.doc.slice(0,nums)+'...' : data.doc}</span>
						</div>
					</a>
				</li>`
				})
				$('#render').html(html)
			}
			
			//获取数据函数
			async function getData(){
				let data = await $.get('/list/getdata')
				return data
			}
			
			function search(datas){
				$('#searchText')[0].select()
				let text = $('#searchText').val()
				let result = []
				datas.map((v)=>{
					let end = JSON.stringify(v)
					if(end.indexOf(text)>-1){
						result.push(JSON.parse(end))
					}
				})
				result.length>0 ? render(result) : alert('很抱歉，没有搜到你想要的')
			}
			
			async function logEvent(){
				let text = event.target.textContent
				let isLogin = text === '退出登录'
				if(isLogin){
					if(window.confirm('确认退出当前登录吗？')){
						await $.get('/user/logout')
						location.reload()
					}
				}else{
					location.href = '/user/login'
				}
			}
		</script>
		
	</body>
</html>
