<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>知识库添加</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" rel="stylesheet">
		<style type="text/css">
			form{text-align: center;}
			input{margin-top: 1vh;}
			input:first-of-type{margin-top: 15vh;margin-bottom: 1vh;}
			span:nth-of-type(2){vertical-align: top;}
			textarea{height: 40vh;width: 183px;}
			[type="button"]{margin-left: 2vw;}
		</style>
	</head>
	<body>
		<form action="/knowledge/adddata" method="post">
			<span>标题：</span><input type="text" name="title" placeholder="请输入标题" required/><br>
			<span>内容：</span><textarea name="text" placeholder="请输入内容" ></textarea><br>
			<span>路径：</span><input type="text" name="url" placeholder="请输入路径" /><br>
			<input type="submit" value="提交"/><input type="button" onclick="history.back()" value="返回"/>
		</form>
	</body>
</html>
