body{
	margin: 0;
	padding: 0;
}
.logUser{
	position: relative;
	left: 39vw;
	opacity: 0.1;
}
.logUser:hover{
	opacity: 0.6;
}
.title{
	width: 170px;
	height: 35px;
	margin-bottom: 6px;
}
.ico{
	width: 50px;
	height: 50px;
}
.searchItem{
	text-align: center;
	padding: 30px 0 10px;
	position: fixed;
	width: calc(100% - 0px);
	background-color: white;
	box-shadow: 0 0 11px 23px #ffffff;
}
.search,.btn{
	font-size: 16px;
	border-radius: 4px;
}
.search{
	height: 30px;
	border: solid 1px #82dedb;
	width: 30%;
	text-indent: 6px;
	outline-color: #82dedb;
}
.btn{
	height: 34px;
	width: 60px;
	display: inline-block;
	position: absolute;
	right: calc(35% - 3px);
	background-color: #82DEDB;
	line-height: 32px;
	color: #fff;
	letter-spacing: 2px;
	text-indent: 2px;
	cursor: pointer;
}
.btn:active{
	color: #ddd;
}

.display{}
ul{
	list-style: none;
	padding: 160px 0 5vh 8%;
	margin: 0;
	font-size: 0;
}
img{
	width: 70px;
	height: 70px;				
}
a{
	text-decoration: none;
}
li{
	/* border: solid 1px blue; */
	width: 17%;
	display: inline-block;
	font-size: 12px;
	margin-top: 1.6%;
	margin-right:2%;
}
@media screen and (max-width: 1187px) {
	li{
		text-align: center;
	}
}
.content{
	vertical-align: top;
	width: 60%;
	display: inline-block;
	/* text-indent: 1rem; */
	color: #666;
}